#Obtain Data

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [34]:
import pandas as pd

path = "/content/drive/MyDrive/Projects/ML_Task_Internship/SMSSpamCollection.tsv"
df = pd.read_csv(path, sep="\t")
df.head()
# Tab-Separated Values (.tsv) Dataset is now stored in a Pandas Dataframe

,ham,I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.
0,spam,Free entry in 2 a wkly comp to win FA Cup fina...
1,ham,"Nah I don't think he goes to usf, he lives aro..."
2,ham,Even my brother is not like to speak with me. ...
3,ham,I HAVE A DATE ON SUNDAY WITH WILL!!
4,ham,As per your request 'Melle Melle (Oru Minnamin...

In [35]:
df = pd.read_csv(path, sep="\t", header=None)
df.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

#Explore Data

In [36]:
df.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [37]:
#show whole dataset
df

         0                                                  1
0      ham  I've been searching for the right words to tha...
1     spam  Free entry in 2 a wkly comp to win FA Cup fina...
2      ham  Nah I don't think he goes to usf, he lives aro...
3      ham  Even my brother is not like to speak with me. ...
4      ham                I HAVE A DATE ON SUNDAY WITH WILL!!
...    ...                                                ...
5563  spam  This is the 2nd time we have tried 2 contact u...
5564   ham               Will ü b going to esplanade fr home?
5565   ham  Pity, * was in mood for that. So...any other s...
5566   ham  The guy did some bitching but I acted like i'd...
5567   ham                         Rofl. Its true to its name

[5568 rows x 2 columns]

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5568 entries, 0 to 5567
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5568 non-null   object
 1   1       5568 non-null   object
dtypes: object(2)
memory usage: 87.1+ KB

#Preprocessing

##Adding header to dataset

In [39]:
df = pd.read_csv(path, sep="\t", header=None, names=['Label', 'Message'])

In [41]:
# Save the updated DataFrame to a CSV file
#df.to_csv('updated_file.csv', index=False)
df.to_csv('/content/drive/MyDrive/Projects/ML_Task_Internship/updated_file.csv', index=False)

In [42]:
df.head()

  Label                                            Message
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [46]:
df.shape

(5568, 2)

##Checking for missing values

In [47]:
# Check for missing values
missing_values = df.isnull().sum()

# Print the number of missing values for each column
print(missing_values)

Label      0
Message    0
dtype: int64

Our dataset have zero missing values

##Checking for duplicates

In [48]:
# Check for duplicates
duplicate_rows = df[df.duplicated()]

In [49]:
# Print the duplicate rows
print(duplicate_rows)

     Label                                            Message
99     ham  As per your request 'Melle Melle (Oru Minnamin...
150    ham  As per your request 'Melle Melle (Oru Minnamin...
203    ham  As I entered my cabin my PA said, '' Happy B'd...
219    ham                             Sorry, I'll call later
322    ham                   No calls..messages..missed calls
...    ...                                                ...
5520  spam  You are awarded a SiPix Digital Camera! call 0...
5531   ham  I know you are thinkin malaria. But relax, chi...
5535   ham                         Just sleeping..and surfing
5549   ham                        Hahaha..use your brain dear
5554   ham                             Sorry, I'll call later

[403 rows x 2 columns]

In [50]:
# Drop duplicates and keep only the first occurrence
df = df.drop_duplicates(keep='first')

In [51]:
# Save the cleaned data to a new file
df.to_csv('/content/drive/MyDrive/Projects/ML_Task_Internship/cleaned_data.csv', index=False)

In [52]:
df.shape

(5165, 2)

##Encoding data Labels

In [54]:
# Encode labels as 0 and 1
df.loc[:, 'Label'] = df['Label'].replace({'spam': 0, 'ham': 1})

<ipython-input-54-8befa4872a9e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.loc[:, 'Label'] = df['Label'].replace({'spam': 0, 'ham': 1})

In [55]:
# Save the updated data to a new file
df.to_csv('/content/drive/MyDrive/Projects/ML_Task_Internship/encoded_data.csv', index=False)

In [56]:
df.head()

   Label                                            Message
0      1  I've been searching for the right words to tha...
1      0  Free entry in 2 a wkly comp to win FA Cup fina...
2      1  Nah I don't think he goes to usf, he lives aro...
3      1  Even my brother is not like to speak with me. ...
4      1                I HAVE A DATE ON SUNDAY WITH WILL!!

#Splitting Dataset

In [58]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import classification_report

In [60]:
#X = df.drop('Label', axis=1)  # Features
X = df['Message']
y = df['Label']  # Target variable

In [61]:
# Split the dataset into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

#Feature Extraction

In [64]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Create a TF-IDF vectorizer
vectorizer = TfidfVectorizer()

In [65]:
# Fit the vectorizer on the training data
X_train_vectorized = vectorizer.fit_transform(X_train)

In [66]:
# Transform the test data using the fitted vectorizer
X_test_vectorized = vectorizer.transform(X_test)

#logistic regression model

In [67]:
# Create a logistic regression model
lr_model = LogisticRegression()

In [68]:
# Train the model on the vectorized training set
lr_model.fit(X_train_vectorized, y_train)

LogisticRegression()

In [69]:
# Make predictions on the vectorized test set
lr_predictions = lr_model.predict(X_test_vectorized)

In [70]:
# Evaluate the performance using classification report
lr_classification_report = classification_report(y_test, lr_predictions)

In [71]:
# Print the classification report
print("Logistic Regression Classification Report:")
print(lr_classification_report)

Logistic Regression Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.72      0.83       118
           1       0.97      1.00      0.98       915

    accuracy                           0.97      1033
   macro avg       0.97      0.86      0.91      1033
weighted avg       0.97      0.97      0.96      1033

#hyperparameter tuning

In [80]:
# Perform hyperparameter tuning with cross-validation using GridSearchCV
lr_param_grid = {'C': [0.1, 1, 10], 'penalty': ['l2']}
lr_grid_search = GridSearchCV(lr_model, lr_param_grid, cv=5)
lr_grid_search.fit(X_train_vectorized, y_train)
best_lr_model = lr_grid_search.best_estimator_

In [81]:
# Make predictions on the test set using the best logistic regression model
lr_predictions = best_lr_model.predict(X_test_vectorized)

In [82]:
# Evaluate the performance using classification report
lr_classification_report = classification_report(y_test, lr_predictions)
print("Logistic Regression Classification Report:")
print(lr_classification_report)

Logistic Regression Classification Report:
              precision    recall  f1-score   support

           0       0.95      0.84      0.89       118
           1       0.98      0.99      0.99       915

    accuracy                           0.98      1033
   macro avg       0.97      0.92      0.94      1033
weighted avg       0.98      0.98      0.98      1033

#SVM Model

In [72]:
from sklearn.svm import SVC

# Create an SVM model
svm_model = SVC()

In [73]:
# Train the model on the vectorized training set
svm_model.fit(X_train_vectorized, y_train)

SVC()

In [74]:
# Make predictions on the vectorized test set
svm_predictions = svm_model.predict(X_test_vectorized)

In [75]:
# Evaluate the performance using classification report
svm_classification_report = classification_report(y_test, svm_predictions)

In [76]:
# Print the classification report
print("SVM Classification Report:")
print(svm_classification_report)

SVM Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.81      0.89       118
           1       0.98      1.00      0.99       915

    accuracy                           0.98      1033
   macro avg       0.99      0.90      0.94      1033
weighted avg       0.98      0.98      0.98      1033

#hyperparameter tuning

In [83]:
# Perform hyperparameter tuning with cross-validation using GridSearchCV
svm_param_grid = {'C': [0.1, 1, 10], 'gamma': [0.1, 1, 10]}
svm_grid_search = GridSearchCV(svm_model, svm_param_grid, cv=5)
svm_grid_search.fit(X_train_vectorized, y_train)
best_svm_model = svm_grid_search.best_estimator_

In [84]:
# Make predictions on the test set using the best SVM model
svm_predictions = best_svm_model.predict(X_test_vectorized)

In [85]:
# Evaluate the performance using classification report
svm_classification_report = classification_report(y_test, svm_predictions)
print("SVM Classification Report:")
print(svm_classification_report)

SVM Classification Report:
              precision    recall  f1-score   support

           0       0.98      0.88      0.93       118
           1       0.98      1.00      0.99       915

    accuracy                           0.98      1033
   macro avg       0.98      0.94      0.96      1033
weighted avg       0.98      0.98      0.98      1033